<h3>Importing necessary modules</h3>

In [1]:
import json
import re

In [2]:
with open('./files/movie_dataset.json', 'r', encoding='utf-8') as file:
    dataset = json.load(file)

len(dataset)

335

In [3]:
dataset[54]

{'Sucker_Punch_(2011_film)': {'Title': 'Sucker Punch',
  'Directed by': 'Zack Snyder',
  'Screenplay by': ['Zack Snyder', 'Steve Shibuya'],
  'Story by': 'Zack Snyder',
  'Produced by': ['Deborah Snyder', 'Zack Snyder'],
  'Starring': ['Emily Browning',
   'Abbie Cornish',
   'Jena Malone',
   'Vanessa Hudgens',
   'Jamie Chung',
   'Carla Gugino',
   'Oscar Isaac',
   'Jon Hamm',
   'Scott Glenn'],
  'Cinematography': 'Larry Fong',
  'Edited by': 'William Hoy',
  'Music by': ['Tyler Bates', 'Marius de Vries'],
  'Productioncompanies': ['Legendary Pictures', 'Cruel and Unusual Films'],
  'Distributed by': 'Warner Bros. Pictures',
  'Release date': ['March25,2011'],
  'Running time': '109 minutes',
  'Countries': ['United States', 'Canada'],
  'Language': 'English',
  'Budget': '$82 million',
  'Box office': '$89.8 million'}}

<h2>I do not like how the date is ditributed. We should change it a little for better access</h2>

In [4]:
movie_dataset = []
for info_table in dataset:
    for key, table in info_table.items():
        movie_dataset.append(table)

In [5]:
movie_dataset[0]

{'Title': 'The Book of Eli',
 'Directed by': 'The Hughes Brothers',
 'Written by': 'Gary Whitta',
 'Produced by': ['Joel Silver',
  'Susan Downey',
  'Andrew Kosove',
  'Broderick Johnson',
  'Denzel Washington'],
 'Starring': ['Denzel Washington',
  'Gary Oldman',
  'Mila Kunis',
  'Ray Stevenson',
  'Jennifer Beals',
  'Frances de la Tour',
  'Michael Gambon'],
 'Cinematography': 'Don Burgess',
 'Edited by': 'Cindy Mollo',
 'Music by': ['Atticus Ross', 'Leopold Ross', 'Claudia Sarne'],
 'Productioncompanies': ['Alcon Entertainment', 'Silver Pictures'],
 'Distributed by': ['Warner Bros. Pictures', 'Summit Entertainment'],
 'Release date': ['January15,2010'],
 'Running time': '117 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$80 million',
 'Box office': '$157.1 million'}

In [6]:
# to get all values of desired key
def show_info(dataset, key):
    new_value_list = []
    for table in dataset:
        new_value_list.append(table.get(key))
            
    return new_value_list
        
running_times = show_info(movie_dataset, "Running time")

In [7]:
print(running_times[:80])

['117 minutes', '117 minutes', '125 minutes', '107 minutes', '115 minutes', '43 minutes', '93 minutes', '126 minutes', '87 minutes', '87 minutes', '108 minutes', '115 minutes', '97 minutes', '97 minutes', '95 minutes', '146 minutes', '104 minutes', '109 minutes', '81 minutes', '148 minutes', '82 minutes', '90 minutes', '99 minutes', '79 minutes', None, '102 minutes', '124 minutes', '97 minutes', '115 minutes', '102 minutes', '98 minutes', None, '123 minutes', '129 minutes', '95 minutes', '103 minutes', '146 minutes', '108 minutes', '118 minutes', None, '93 minutes', '80 minutes', '107 minutes', '94 minutes', '97 minutes', '113 minutes', '126 minutes', None, '113 minutes', '105 minutes', '105 minutes', '121 minutes', '100 minutes', '90 minutes', '109 minutes', '107 minutes', '40 minutes', '112 minutes', '101 minutes', '114 minutes', '92 minutes', '98 minutes', '130 minutes', '118 minutes', '92 minutes', '120 minutes', '106 minutes', '91 minutes', '114 minutes', None, '92 minutes', None, '100 minutes', '93 minutes', '89 minutes', '137 minutes', '100 minutes', '130 minutes', '123 minutes', '108 minutes']

<h3>We can see that running time is either has minutes, none or a list. Lets clean them up a bit</h3>

In [8]:
# lets create function to do the job

def get_running_time(value):
    if value == "NAN":
        return "NAN"
    
    elif isinstance(value, list):
        return get_running_time(value[0]) # we will just return first value in the list 
    
    return value.split()[0]

In [9]:
for table in movie_dataset:
    running_time = table.pop('Running time', "NAN") # getting running time value and deleting key
            
    new_running_time = get_running_time(running_time)
        
    table['Running Time(min)'] = new_running_time

In [10]:
print(show_info(movie_dataset, "Running Time(min)")[60:90])

['92', '98', '130', '118', '92', '120', '106', '91', '114', 'NAN', '92', 'NAN', '100', '93', '89', '137', '100', '130', '123', '108', '118', '129', '129', '118', '94', '150', '95', '88', '99', '100']

In [11]:
count = 0

for table in movie_dataset:
    run_time = table['Running Time(min)']
    if run_time == "NAN":
        continue 
    count += 1

print(f"Running time(min) with values: {count}")

Running time(min) with values: 324

<h3>We have most of the films running time and only 11 are NAN or None values</h3>

In [12]:
movie_dataset[0]

{'Title': 'The Book of Eli',
 'Directed by': 'The Hughes Brothers',
 'Written by': 'Gary Whitta',
 'Produced by': ['Joel Silver',
  'Susan Downey',
  'Andrew Kosove',
  'Broderick Johnson',
  'Denzel Washington'],
 'Starring': ['Denzel Washington',
  'Gary Oldman',
  'Mila Kunis',
  'Ray Stevenson',
  'Jennifer Beals',
  'Frances de la Tour',
  'Michael Gambon'],
 'Cinematography': 'Don Burgess',
 'Edited by': 'Cindy Mollo',
 'Music by': ['Atticus Ross', 'Leopold Ross', 'Claudia Sarne'],
 'Productioncompanies': ['Alcon Entertainment', 'Silver Pictures'],
 'Distributed by': ['Warner Bros. Pictures', 'Summit Entertainment'],
 'Release date': ['January15,2010'],
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$80 million',
 'Box office': '$157.1 million',
 'Running Time(min)': '117'}

<h3>Lets get the relases date ot release dates from the dataset</h3>

<h2>For simplicity we will only take the first match</h2>

In [13]:
# to get the values only when they do not have null value
release_date = [value for value in show_info(movie_dataset, "Release date") if value]
len(release_date)

135

In [14]:
# to get release_dates as there were key values release date or release dates
release_dates = [value for value in show_info(movie_dataset, "Release dates") if value]
len(release_dates)

200

In [15]:
len(release_dates) + len(release_date)

335

<h2>None of the release date values are missing they either in Release date key or Release dates key</h2>

In [16]:
print(release_dates[:30])

[['January29,2010'], ['21September2009', 'San Sebastián International Film Festival', '19March2010'], ['November5,2009', 'AFI Film Festival', 'March20,2010'], ['15February2010', '23April2010'], ['April27,2010', 'Hollywood', 'April30,2010'], ['October6,2009', 'Sitges Film Festival', 'June4,2010'], ['17May2010', 'Cannes', '12June2010'], ['July8,2010', 'Odeon Leicester Square', 'July16,2010'], ['16June2010', '20August2010'], ['August27,2010', 'September3,2010'], ['September8,2010', 'Venice', 'September17,2010'], ['September19,2010', "Grauman's Chinese Theatre", 'September24,2010', 'September30,2010'], ['September12,2010', 'TIFF', 'October22,2010'], ['October31,2010', 'Night Visions', 'November5,2010'], ['11November2010', 'Odeon Leicester Square', '19November2010'], ['December11,2010', 'Westwood', 'December17,2010'], ['7September2010', 'Venice Film Festival', '17December2010'], ['4September2010', 'Telluride Film Festival', '5November2010', '7January2011'], ['13January2011', 'Santander', '4February2011'], ['January26,2011', 'Hollywood', 'January28,2011'], ['16February2011', 'Westwood', '18February2011', '2March2011', '3March2011', '4March2011'], ['4March2011', '26July2011'], ['March7,2011', 'March11,2011'], ['April2011', 'May6,2011'], ['May19,2011', 'TCL Chinese Theatre', 'May26,2011'], ['June15,2011', "Grauman's Chinese Theatre", 'June17,2011'], ['June30,2011', "Grauman's Chinese Theatre", 'July8,2011'], ['7July2011', 'Trafalgar Square', '15July2011'], ['July19,2011', 'New York City', 'July29,2011'], ['August4,2011', 'Fantasia International Film Festival', 'August12,2011']]

<h3>We can see that it is very hard to just get the release dates values since they are jumbled together other unnecessary datas but we can get them using regular expression .<br><br>For simplicity we will only get the first match</h3>

In [17]:
# lets try to extract the date from smaller scale
dates = "['7July2011', 'Trafalgar Square', '15July2011, July19,2011, '8 June 2011']"
pattern = re.compile(r'(\d+\s?[\w\s]+|[a-zA-z]+\d+,?\d+)')


match = re.findall(pattern , dates)
print(match)

['7July2011', '15July2011', 'July19,2011', '8 June 2011']

<h3>Our regular expression is ready and through it we can get any dates which are available to us</h3>

In [18]:
new_dates = []
for index, dates in enumerate(release_dates[:30]):
    match = re.findall(pattern , str(dates))
    new_dates.append(match[0])
    
print(new_dates)

['January29,2010', '21September2009', 'November5,2009', '15February2010', 'April27,2010', 'October6,2009', '17May2010', 'July8,2010', '16June2010', 'August27,2010', 'September8,2010', 'September19,2010', 'September12,2010', 'October31,2010', '11November2010', 'December11,2010', '7September2010', '4September2010', '13January2011', 'January26,2011', '16February2011', '4March2011', 'March7,2011', 'April2011', 'May19,2011', 'June15,2011', 'June30,2011', '7July2011', 'July19,2011', 'August4,2011']

In [19]:
# writing a function to make the code clearner

def get_new_date(date):
    pattern = re.compile(r'(\d+\s?[\w\s]+|[a-zA-z]+\d+,?\d+)')
    match = re.findall(pattern, str(date))
    
    return match[0]

get_new_date("['7July2011', 'Trafalgar Square', '15July2011, July19,2011, '8 June 2011']")

'7July2011'

In [20]:
for index, table in enumerate(movie_dataset):
    release_date = table.pop('Release dates', "NAN") #getting release dates value and deleting key
        
    if release_date != "NAN":
        new_release_date = get_new_date(release_date)
        table['Release Date'] = new_release_date
            
    else:
        release_dates = table.pop('Release date', "NAN")
        if release_dates != 'NAN':
            new_release_date = get_new_date(release_dates)
            table['Release Date'] = new_release_date
    if index % 40 == 0:
        print(new_release_date)

January15,2010
December16,2010
December9,2011
May1,2013
22August2014
2September2015
25December2016
January16,2018
July13,2019

In [21]:
movie_dataset[20]

{'Title': 'Cats & Dogs:  The Revenge of Kitty Galore',
 'Directed by': 'Brad Peyton',
 'Screenplay by': ['Ron J. Friedman', 'Steve Bencich'],
 'Based on': 'Characters created,by,John Requa,Glenn Ficarra',
 'Produced by': ['Andrew Lazar', 'Polly Johnsen'],
 'Starring': ['Christina Applegate',
  'Michael Clarke Duncan',
  'Neil Patrick Harris',
  'Sean Hayes',
  'James Marsden',
  'Bette Midler',
  'Nick Nolte',
  'Joe Pantoliano',
  'Katt Williams',
  "Chris O'Donnell",
  'Jack McBrayer',
  'Roger Moore',
  'Fred Armisen',
  'Paul Rodriguez',
  'Kiernan Shipka'],
 'Cinematography': 'Steven Poster',
 'Edited by': 'Julie Rogers',
 'Music by': 'Christopher Lennertz',
 'Productioncompanies': ['CD2 Pictures',
  'Village Roadshow Pictures',
  'Mad Chance',
  'Polymorphic Pictures'],
 'Distributed by': 'Warner Bros. Pictures',
 'Countries': ['United States', 'Australia'],
 'Language': 'English',
 'Budget': '$85 million',
 'Box office': '$112.5 million',
 'Running Time(min)': '82',
 'Release Date': 'July30,2010'}

<h2>The Date part is now cleaned up </h2>
<h3>Now we need to convert <b>Budget and Box office</b> values to numbers in dollars

In [22]:
budget = show_info(movie_dataset, 'Budget')
print(budget[:50])

['$80 million', '$80 million', '$52 million', '$30 million', '', None, None, None, '$30 million', '€5.5m', '$125 million', None, '$25million', '$12 million', '$35 million', '$95 million', '$30 million', None, '$47million', '$160 million', '$85 million', '$14 million', '$17 million', '$17 million', None, '$32 million', '$37 million', '$80 million', '$38 million', '€3 million', '₹7 crore', None, None, '$50 million', '$65 million', None, ['$250 million', 'Part 2'], '(US$790,000)', '$3,000,000', 'US$4 million', None, '$80 million', '€7 million', '$18 million', None, '$37 million', ['€5.65 million'], None, '$30–40million', '$36 million']

In [23]:
len([value for value in budget if value])

236

In [24]:
# edge cases 
[value for value in budget if value if 'million' not in value]

['€5.5m',
 '₹7 crore',
 ['$250 million', 'Part 2'],
 '(US$790,000)',
 '$3,000,000',
 ['€5.65 million'],
 'US$5,000,000',
 ['$250 million', 'Part 1'],
 '€16,000,000 (estimated)',
 '$100,000',
 ['$90 million', '$65 million']]

In [25]:
# edge cases
[value for value in budget if value if '€' in value]

['€5.5m',
 '€3 million',
 '€7 million',
 '€16,000,000 (estimated)',
 '€4 million',
 '€5.5 million',
 '€4 million',
 '€10 million',
 '€4 million($4.5 million)']

<h3>We can use the regular expression again to get money value</h3>

<h2>The regular expression pattern is taken from below </h2>

https://dev.to/oursky/regex-for-date-time-and-currency-2apm

<h3>For convinience sake we will only take budget which is in dollars and assume that all budget has 
the word million in it</h3>

In [26]:
def get_currency(budget):

    pattern = re.compile(r'\$?(?:(?:[1-9][0-9]{0,2})(?:,[0-9]{3})+|[1-9][0-9]*|0)(?:[\.,][0-9][0-9]?)?(?![0-9]+)')
    
    match = re.findall(pattern, budget)
    if match:
        return match[0]
    else:
        return 'NAN'

get_currency('[$90 million, $65 million]')

'$90'

In [27]:
def convert_to_float(new_budget):
    if '$' in new_budget:
        new_budget =  new_budget.split('$')[1]
    
#     if the len of new_budget is >3 than it was already conveted to float
    if len(new_budget) <= 6:
        return str(float(new_budget) * 1000000)
    
    return new_budget

In [28]:
def get_new_budget(budget):
    budget_str = str(budget)
    if budget_str != "NAN" and '$' in budget_str:
        currency = get_currency(budget_str)
        budget_float = convert_to_float(currency)
        return budget_float
    
    return "NAN"

In [29]:
count = 0
for table in movie_dataset:
    budget = table.get('Budget', "NAN") 
    budget_str = str(budget)
    if budget_str != "NAN" and '$' in budget_str:
        new_budget = get_currency(budget_str)
        budget_float = convert_to_float(new_budget)
        count += 1
            
        if count % 30 == 0:
             print(budget_float)
print('The budget avalable: ', count)

37000000.0
57000000.0
191000000.0
22500000.0
50000000.0
150000000.0
80000000.0
The budget avalable:  226

<h3>Removing the previous budget and the new one</h3>

In [30]:
for index, table in enumerate(movie_dataset):
    budget = table.pop('Budget', "NAN") 
    new_budget = get_new_budget(budget)
        
    table["Budget(dollar)"] = new_budget
        
    if index % 30 == 0:
            print(new_budget)

80000000.0
NAN
NAN
NAN
105000000.0
40000000.0
40000000.0
38000000.0
NAN
NAN
200000000.0
NAN

In [31]:
movie_dataset[25]

{'Title': 'Going the Distance',
 'Directed by': 'Nanette Burstein',
 'Written by': 'Geoff LaTulippe',
 'Produced by': ['Adam Shankman', 'Jennifer Gibgot', 'Garrett Grant'],
 'Starring': ['Drew Barrymore',
  'Justin Long',
  'Charlie Day',
  'Jason Sudeikis',
  'Christina Applegate'],
 'Cinematography': 'Eric Steelberg',
 'Edited by': 'Peter Teschner',
 'Music by': 'Mychael Danna',
 'Productioncompanies': ['New Line Cinema', 'Offspring Entertainment'],
 'Distributed by': 'Warner Bros. Pictures',
 'Country': 'United States',
 'Language': 'English',
 'Box office': '$42.1 million',
 'Running Time(min)': '102',
 'Release Date': 'August27,2010',
 'Budget(dollar)': '32000000.0'}

<h3>Now lets do the same Box office values</h3>

In [32]:
box_office = show_info(movie_dataset, 'Box office')
print(box_office[:30])

['$157.1 million', '$81.1 million', '$216.5 million', '$55.6 million', '', '$73.6 million', None, None, '$1.7 million', None, '$493.2 million', None, '$29.9million', '$6.9 million', '$117.7 million', '$294.6 million', '$27.1 million', '', '$11million', '$836.8 million', '$112.5 million', '$4.3 million', '$24.7 million', '$6 million', None, '$42.1 million', '$154 million', '$140.1 million', '$105.7 million', '$5.827 million']

In [33]:
len([value for value in box_office if value])

275

In [34]:
# edget cases we need to consider
[value for value in box_office if value if 'million' not in str(value)]

['₹0.98 crore',
 '€9,881,471',
 'US$12,160,978',
 'US$4,711,624',
 'US$4,156,398',
 '$41,644,475',
 '$1.342 billion',
 '$1.081 billion',
 '$1.017 billion',
 '₺72.103.216,88',
 '$615,500',
 '$74,709',
 '$310,273',
 '$3,532,967',
 '$11,757,642',
 '()',
 '$9,193,243',
 '$4,382',
 '¥493,052,600()',
 '$138,844',
 '$1.148 billion',
 '$603,434',
 '$623,088',
 '$1.074 billion',
 '$50,820']

In [35]:
# edget cases 
[value for value in  box_office if '€' in str(value)]

['€9,881,471', '€4.9 million ($5.5 million)', '€10.1 million']

<h3>The code for box office value would almost same as the budget</h3>

In [36]:
def convert_to_float(new_box_office, has_billion):
    if '$' in new_box_office:
        new_box_office =  new_box_office.split('$')[1]
    
    if len(new_box_office) <= 5 and has_billion == False:
        return str(float(new_box_office) * 1000000)
    
    elif len(new_box_office) <= 5 and has_billion == True:
        return str(float(new_box_office) * 1000000000)
    
    return new_box_office

def get_currency(box_office):

    pattern = re.compile(r'\$?(?:(?:[1-9][0-9]{0,2})(?:,[0-9]{3})+|[1-9][0-9]*|0)(?:[\.,][0-9][0-9]?)?(?![0-9]+)')
    
    match = re.findall(pattern, box_office)
    if match:
        return match[0]
    else:
        return 'NAN'


def get_new_box_office(box_office_str, has_billion):
    try:
        if box_office_str != "NAN" and '$' in box_office_str:
            currency = get_currency(box_office_str)
            box_office_float = convert_to_float(currency, has_billion)
            return box_office_float
    except:
        return "NAN"
    
    return "NAN"

In [37]:
for index, table in enumerate(movie_dataset):
    has_billion=False
    
    box_office = table.pop('Box office', "NAN")
    box_office_str = str(box_office)
    if 'billion' in box_office_str:
        has_billion=True
            
    new_box_office = get_new_box_office(box_office_str, has_billion)
    table["box_office(dollar)"] = new_box_office
        
    if index % 50 == 0:
        print(new_box_office)

157100000.0
4,711,624
49000000.0
128000000.0
3,532,967
17800000.0
654900000.0

In [38]:
movie_dataset[18]

{'Title': 'Jonah Hex',
 'Directed by': 'Jimmy Hayward',
 'Screenplay by': 'Neveldine & Taylor',
 'Story by': ['William Farmer', 'Neveldine & Taylor'],
 'Based on': 'Jonah Hex,by,John Albano,Tony DeZuniga',
 'Produced by': ['Akiva Goldsman', 'Andrew Lazar'],
 'Starring': ['Josh Brolin',
  'John Malkovich',
  'Megan Fox',
  'Michael Fassbender',
  'Will Arnett',
  'Michael Shannon'],
 'Cinematography': 'Mitchell Amundsen',
 'Edited by': ['Fernando Villena', 'Tom Lewis'],
 'Music by': ['Marco Beltrami', 'Mastodon'],
 'Productioncompanies': ['Legendary Pictures',
  'DC Entertainment',
  'Weed Road Pictures',
  'Mad Chance Productions'],
 'Distributed by': 'Warner Bros. Pictures',
 'Country': 'United States',
 'Language': 'English',
 'Running Time(min)': '81',
 'Release Date': 'June18,2010',
 'Budget(dollar)': '47000000.0',
 'box_office(dollar)': '11000000.0'}

In [39]:
# LETS SAVE THE MODEL TO A NEW JSON FILE
with open('./files/movie_dataset(cleaned).json', "w", encoding='utf-8') as file:
    json.dump(movie_dataset, file, ensure_ascii=False, indent=4)

In [40]:
with open('./files/movie_dataset(cleaned).json', 'r', encoding='utf-8') as file:
    movie_dataset = json.load(file)

len(movie_dataset)

335